#items,#works,#skills{
	padding:1%;
}
#items>h1,#works>h1,#skills>h1{
	margin-bottom:10px;
	font-size:2rem;
}
#items>ul,#works>ul{
	padding:20px 0;
	margin-left:-9px;
}
#items>ul>li,#works>ul>li{
	float:left;
	display:inline-block;
	margin:0 0 15px 15px;
}

#skills>ul>li{
	padding:10px;
}
#skills>ul>li>p{
	line-height:2rem;
}
